@{
    ViewData["Title"] = "Depositar Fundos";
}

<div class="container my-4">
    <h2 class="mb-3">@ViewData["Title"]</h2>
    
   

    <form asp-controller="Transactions" asp-action="Deposit" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="amount" class="form-label">Valor a depositar</label>
            <input type="number" class="form-control" id="amount" name="amount" step="0.01" required />
        </div>
        <button type="submit" class="btn btn-primary">Depositar</button>
    </form>
</div>
